<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
			<md-icon md-font-icon="fa fa-bars"></md-icon>
		</md-button>
		<h1>Shoot!</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<div layout="row" layout-align="space-between center">
		<md-button class="md-raised md-accent" href="#/gamification/trophies">
			<md-icon md-font-icon="fa fa-trophy"></md-icon> Trophies
		</md-button>
		<md-button class="md-raised md-accent" href="#/gamification/leaderboard">
			<md-icon md-font-icon="fa fa-sort-numeric-asc"></md-icon> Leaderboard
		</md-button>
	</div>
</md-content>
