<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu" ng-click="openLeftSidenav()">
			<md-icon md-font-icon="fa fa-bars"></md-icon>
		</md-button>
		<h1>Goal Update</h1>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<form action="" name="goal_form">
		<section>
			<md-subheader class="md-accent">Update</md-subheader>
			<div ng-show="vm.goal.$$hasTargetTypeCheckbox()">
				<md-checkbox ng-model="vm.goal.target.$$achieved_at" ng-change="vm.goal.target.$$changedAchievedAt()" aria-label="Achieved">
					Achieved<span ng-show="vm.goal.target.$$achieved_at">on {{ vm.goal.target.achieved_at }}</span>
				</md-checkbox>
			</div>

			<div ng-show="vm.goal.$$hasTargetTypeRecurringCheckbox()">
				<md-checkbox ng-model="vm.goal.target.update.$$achieved_at" ng-change="vm.goal.target.update.$$changedAchievedAt()" aria-label="Achieved">
					Achieved<span ng-show="vm.goal.target.update.$$achieved_at">on {{ vm.goal.target.update.achieved_at }}</span>
				</md-checkbox>
			</div>

			<div ng-show="vm.goal.$$hasTargetTypeDuration()">
				<div layout="row" layout-align="start center">
					<md-input-container>
						<label>Time incrementation</label>
						<input ng-model="vm.goal.target.update.$$time_incrementation" disabled>
					</md-input-container>
					<md-button ng-click="vm.goal.target.update.$$timeDecrement($event)" aria-label="Decrement time incrementation"><i class="fa fa-minus"></i></md-button>
					<md-button ng-click="vm.goal.target.update.$$timeIncrement($event)" aria-label="Increment time incrementation"><i class="fa fa-plus"></i></md-button>
				</div>
			</div>
		</section>

		<md-button class="md-icon-button" aria-label="Toggle goal details" ng-click="vm.toggleGoalDetails($event)">
			<md-icon md-font-icon="fa fa-info-circle"></md-icon>
		</md-button>

		<div class="smu-goal-details" ng-class="{ 'smu-goal-details-show': vm.$$showGoalDetails }">
			<section>
				<md-subheader class="md-accent">Details</md-subheader>
				<md-input-container flex>
					<label>Name</label>
					<input ng-model="vm.goal.name" disabled>
				</md-input-container>

				<md-input-container flex>
					<label>Notes</label>
					<textarea ng-model="vm.goal.notes" columns="1" rows="5" md-maxlength="250" disabled></textarea>
				</md-input-container>
			</section>

			<section>
				<md-subheader class="md-accent">Target</md-subheader>

				<div ng-show="vm.goal.$$hasTargetTypeCheckbox() || vm.goal.$$hasTargetTypeRecurringCheckbox()">
					<h4>Deadline</h4>
					<div layout="row" layout-sm="column">
						<md-input-container flex>
							<label>Date</label>
							<input type="date" name="deadline_date" ng-model="vm.goal.target.$$getSetDeadlineDate" ng-model-options="{ getterSetter: true }" disabled>
						</md-input-container>
						<md-input-container flex>
							<label>Time</label>
							<input type="time" name="deadline_time" ng-model="vm.goal.target.$$getSetDeadlineTime" ng-model-options="{ getterSetter: true }" disabled>
						</md-input-container>
					</div>

					<div ng-show="vm.goal.$$hasTargetTypeRecurringCheckbox()">
						<h4>Repeat</h4>
						<md-select name="repeat_deadline" ng-model="vm.goal.target.repeat_deadline" placeholder="Repeat deadline" disabled>
							<md-optgroup label="Repeat deadline">
								<md-option ng-value="repeat.value" ng-repeat="repeat in vm.$$REPEAT_TYPES">{{ repeat.label }}</md-option>
							</md-optgroup>
						</md-select>

						<h4>Repeat until</h4>
						<div layout="row" layout-sm="column">
							<md-input-container ng-show="vm.goal.target.repeat_deadline" flex>
								<label>Date</label>
								<input type="date" name="repeat_until_date" ng-model="vm.goal.target.$$getSetRepeatUntilDate" ng-model-options="{ getterSetter: true }" disabled>
							</md-input-container>
							<md-input-container ng-show="vm.goal.target.repeat_deadline" flex>
								<label>Time</label>
								<input type="time" name="repeat_until_time" ng-model="vm.goal.target.$$getSetRepeatUntilTime" ng-model-options="{ getterSetter: true }" disabled>
							</md-input-container>
						</div>
					</div>
				</div>

				<div ng-show="vm.goal.$$hasTargetTypeDuration()">
					<div layout="row" layout-sm="column">
						<md-input-container flex>
							<label>Time estimated</label>
							<input ng-model="vm.goal.target.time_estimated" disabled>
						</md-input-container>
						<md-select name="time_increment" ng-model="vm.goal.target.time_increment" placeholder="Time increment" disabled flex>
							<md-optgroup label="Time increment">
								<md-option ng-value="increment.value" ng-repeat="increment in vm.$$INCREMENT_TYPES">{{ increment.label }}</md-option>
							</md-optgroup>
						</md-select>
					</div>
				</div>
			</section>
		</div>

		<br><br>
		<nav layout layout-align="space-between center">
			<md-button class="md-raised md-accent" ng-click="vm.save($event)">
				<md-icon md-font-icon="fa fa-cloud-upload"></md-icon> Save
			</md-button>
			<md-button class="md-raised" href="#/goals/category/{{ vm.category.id }}/goal/{{ vm.goal.id }}/edit">
				<md-icon md-font-icon="fa fa-edit"></md-icon> Edit
			</md-button>
			<md-button class="" href="#/goals/category/{{ vm.category.id }}/goal/{{ vm.goal.id }}/progress">
				<md-icon md-font-icon="fa fa-bar-chart"></md-icon> Progress
			</md-button>
		</nav>
	</form>
</md-content>
