<!-- Standard Validators -->
<ng-message when="date">This must be a valid date (YYYY-MM-DD).</ng-message>
<ng-message when="email">This must be a valid email address.</ng-message>
<ng-message when="required">This is required.</ng-message>
<ng-message when="time">This must be a valid time (HH:MM:SS).</ng-message>

<!-- Angular Material Validators -->
<ng-message when="md-maxlength">The text is too long.</ng-message>

<!-- Custom Validators -->
<ng-message when="smuMatchModel">The passwords do not match.</ng-message>
